{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/contact.css') }}" rel="stylesheet" />
{% endblock %}

{% block container %}

    {% block content %}
        <h1>{{ 'error.404'|trans }}</h1>

        <p>{{ 'error.404-description'|trans }}</p>

    {% endblock %}
{% endblock %}