web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/private/*
app/temp/*
build/
vendor
composer.phar
.idea
app/config/parameters.yml
.DS_Store
node_modules
/web/css/*
/web/css/!jquery-ui
/web/js/*
/web/.htaccess
/bin/*
/app/data/files
/app/data/temp