{% extends 'JmeMediaBundle::layout.html.twig' %}

{% block content %}
    <article>
        <h1>Upload file</h1>

        <form action="{{ path('jme_media_upload_file') }}" method="post" {{ form_enctype(form) }} novalidate>
            {{ form_widget(form) }}
            {{ form_errors(form) }}
            <input type="submit" />
        </form>
    </article>
{%  endblock %}