<article class="about padded-content" id="a-about">

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="edit-controls">
            <a class="in-place" href="#">{{ 'edit'|trans }}</a>
            <span class="yes-btn btn glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span class="no-btn btn glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
    {% endif %}

    <div class="inner-content">
        <h2> About me </h2>

        <div class="image-about"></div>

        <p>Hi! I'm Janimatti Ellonen.</p>

        <p>I was born (1980) and raised in <a target="_blank" href="http://tinyurl.com/ot3vldd
    ">Stockholm</a>. I did most of my (school) time in Stockholm. I moved to Helsinki, Finland in 2001. Currently I live in <a target="_blank" href="http://tinyurl.com/mqdzsp2">Leppävaara, Espoo</a>. In 2004 I started my studies at the Haaga-Helia University of Applied Sciences and graduated in 2008.</p>

        <br/>
        <p>I'm a software developer at <a target="_blank" href="https://fraktio.fi/">Fraktio</a>. My main focus is web software development with PHP and JavaScript although I’m highly interested in Scala (still learning) and if I ever find time and motivation, I’d like to do some iOS development.</p>

        <p>Before that I worked at Soprano Digital (formerly know as Brain Alliance) for over 8 years.</p>

        <p>I’m a <a target="_blank" href="http://discgolfscores.net">disc golf</a> enthusiast since 2011. In 2014 I was on a disc golf course for more than 100 times. I try to play disc golf around the year, at least once a month on off-season and preferably daily on June-August.</p>

        <p>In addition to disc golf I enjoy playing floorball (according to my HeiaHeia stats, I played 52 times in 2014).</p>

        <p>I love reading <a target="_blank" href="http://munkirjat.com">books</a>. I have way too many unread books in my bookshelf and I should really start buying e-books to ease the burden of my poor bookshelf.</p>
    </div>
</article>