{% extends 'JmeMainBundle::layout.html.twig' %}

{% block content %}
<article>
    <h1>About</h1>

    <div class="content">
        <p>Hi! I'm Janimatti Ellonen.</p>

        <p>I was born in 1980 and was raised in the beautiful city of Stockholm, Sweden. Both of my parents decided they wanted to have
        an adventure when they were young, moved to Sweden and met there. The rest is (boring) history.
        I got somewhat fed up and moved to Finland back in 2001.</p>

        <p>I'm a coding monkey at <a target="_blank" href="http://soprano.fi/"> Soprano Digital</a>, mostly dealing with PHP projects (Symfony 2, Zend Framework 1 & 2).</p>

        <p>On my spare time I try to develop my own projects. My personal interests have resulted in several projects that I'm involved with.
         For example, I do <a href="http://www.munkirjat.com">read a lot</a> and I try to be on a <a href="http://discgolfscores.net">discgolf course</a> as much as <a href="http://m.discgolfscores.net">I can</a>.</p>

        <p>I also love to watch bigger football events. Nothing on TV beats World Cup, Euro Cup, Champions League or Confederations Cup matches. It's pure enlightment.</p>

        <p>Another soft spot for me is the Tour de France bicycle race. I don't know exactly why, but it is very interesting to see parts of some of the stages.
            The commentators are awesome and the sceneries beautiful. I used to ride a lot, especially during the summer and for a long time I have dreamed of taking a long bike journey in Finland.</p>
</article>
{%  endblock %}