<article class="about" id="a-about">
    <h2> About me </h2>

    <div class="image-about"></div>

    <p>Hi! I'm Janimatti Ellonen.</p>

    <p>I was born (1980) and raised in Stockholm. I did most of my (school) time in Stockholm. I moved to Helsinki, Finland in 2001. Currently I live in Leppävaara, Espoo. In 2004 I started my studies at the Haaga-Helia University of Applied Sciences and graduated in 2008.</p>


    <p>I'm a software developer by heart and and a sysadmin by mere accident at Soprano Digital. My main focus is web software development with PHP and JavaScript allthough I’m highly interrested in Scala (still learning) and if I ever find time and motivation, I’d like to do some iOS development.</p>

    <p>I’m a disc golf enthusiast since 2011. In 2014 I was on a disc golf course for more than 100 times. I try to play disc golf around the year, at least once a month on off-season and preferrably daily on June-August.</p>
    <p>In addition to disc golf I enjoy playing floorball (according to my HeiaHeia stats, I played 52 times in 2014).</p>

</article>