<section class="projects" id="a-projects">
    <h2> Projects </h2>

    <p>On my spare time, I tend to code a lot, mostly PHP-based projects. I also try to provide my mere
        development skills to other projects that actually have users. Here are the essential projects that I'm
        involved in.</p>

    <div class="projects">
        <article class="project">
            <div class="image-project"></div>
            <div class="project-information">
                <h3>DiscGolfScores</h3>
                <p>A website for storing discgolf scores. Contains only finnish courses. Site is in finnish.</p>


                <h4>Website</h4>
                <p><a target="_blank" href="http://www.discgolfscores.net">Discgolfscores.net</a></p>

                <h4>Technical details</h4>
                <ul>
                    <li>PHP 5</li>
                    <li>MySql</li>
                </ul>
            </div>
        </article>
    </div>
</section>