<section class="projects padded-content" id="a-projects">
    <h2> Projects </h2>

    <p>On my spare time, I tend to code a lot, mostly PHP-based projects. I also try to provide my mere
        development skills to other projects that actually have users. Here are some projects that I have been involved with.</p>

    <div class="projects">

        <article class="project">
            <div class="image-project"><img src="{{ asset('bundles/jmemain/images/projects/project-munkirjat.jpg') }}"/></div>
            <div class="project-information">
                <h3>Munkirjat</h3>

                <p>Munkirjat (my books - in english) is a pet project of mine, which I use to register books I have bought, basic information about each book (title, authors, type), whether I have read them or not and so on. Partially for allowing me to learn new stuff and also for helping me figure out whether I already own a specific book. I buy quite a lot of books and at times I forget whether I already own the book or not. :) </p>

                <div class="col col1">
                    <h4>My role</h4>

                    <p>Creator</p>

                    <h4>Website</h4>
                    <p><a target="_blank" href="http://munkirjat.com">munkirjat.com</a></p>
                </div>

                <div class="col">
                    <h4>Technical details*</h4>
                    <ul>
                        <li>PHP 5.4</li>
                        <li>Symfony2</li>
                        <li>Doctrine 2</li>
                        <li>MySql</li>
                        <li>CoffeeScript/JavaScript</li>
                        <li>Backbone.js</li>
                        <li>Less</li>
                    </ul>

                    <p><strong>*Currently rewriting this using Scala and Play.</strong></p>
                </div>
            </div>
        </article>

        <article class="project">
            <div class="image-project"><img src="{{ asset('bundles/jmemain/images/projects/project-website.jpg') }}"/></div>
            <div class="project-information">
                <h3>Personal website</h3>

                <p>A simple blog engine for my own use.</p>

                <div class="col col1">
                    <h4>My role</h4>

                    <p>Creator</p>

                    <h4>Website</h4>
                    <p><a target="_blank" href="http://janimattiellonen.fi">janimattiellonen.fi</a></p>
                </div>

                <div class="col">
                    <h4>Technical details*</h4>
                    <ul>
                        <li>PHP 5.4</li>
                        <li>Symfony2</li>
                        <li>Doctrine 2</li>
                        <li>MySql</li>
                        <li>CoffeeScript/JavaScript</li>
                        <li>Less</li>
                    </ul>
                </div>
            </div>
        </article>

        <article class="project">
            <div class="image-project"><img src="{{ asset('bundles/jmemain/images/projects/project-discgolfscores.jpg') }}"/></div>
            <div class="project-information">
                <h3>DiscGolfScores</h3>
                <p>A website for storing discgolf scores. Contains only finnish courses. Site is in finnish.</p>

                <div class="col col1">
                    <h4>My role</h4>

                    <p>I have mostly provided some coding assistance for adding new features and fixing some bugs. Not the creator of the site.</p>

                    <h4>Website</h4>
                    <p><a target="_blank" href="http://www.discgolfscores.net">Discgolfscores.net</a></p>
                </div>

                <div class="col">
                    <h4>Technical details</h4>
                    <ul>
                        <li>PHP 5</li>
                        <li>MySql</li>
                    </ul>
                </div>
            </div>
        </article>

        <article class="project">
            <div class="image-project"><img src="{{ asset('bundles/jmemain/images/projects/project-dgsmobile.jpg') }}"/></div>
            <div class="project-information">
                <h3>DGS Mobile</h3>
                <p>A frontend for Discgolfscores.net that provides a mobile-friendly UI for storing scores. Tries to minimize the use of an Internet connection during game play. Partially a single-page app.</p>

                <div class="col col1">
                    <h4>My role</h4>

                    <p>Creator and and currently the only developer.</p>

                    <h4>Website</h4>
                    <p><a target="_blank" href="http://m.discgolfscores.net">m.discgolfscores.net</a></p>

                </div>

                <div class="col ">
                    <h4>Technical details</h4>

                    <ul>
                        <li>PHP 5.3</li>
                        <li>Zend Framework</li>
                        <li>jQuery Mobile</li>
                        <li>MySql</li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</section>