<ul id="some">
    <li id="github"><a target="_blank" href="https://github.com/janimattiellonen/" title="Visit my GitHub account" ><img src="/images/GitHub-Mark-32px.png" alt="Visit my GitHub account"></a></li>
    <li id="facebook"><a target="_blank" href="https://www.facebook.com/janimatti" title="Visit my Facebook account" ><img src="/images/FB-f-Logo__blue_58.png" alt="Visit my Facebook account"></a></li>
    <li id="linkedin"><a target="_blank" href="http://www.linkedin.com/in/janimattiellonen" title="Visit my LinkedIn account" ><img src="/images/LinkedIn_Logo60px.png" alt="Visit my LinkedIn account"></a></li>

</ul>