<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>


    {% block stylesheets %}{% endblock %}



    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    {% if app.session.hasFlash('notice') %}
        <div class="flash-messages">
            {{ app.session.flash('notice') }}
        </div>
    {% endif %}

    {% block content %}{% endblock %}

    {% javascripts output="/js/main.js" filter="coffee,?yui_js"
        %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
</body>
</html>