<header>

    <span class="mol" title="The Hitchhiker's Guide to the Galaxy">42</span>
    <nav class="menu">
        {{ knp_menu_render('main', {'template': '::menu.html.twig'}) }}
    </nav>
</header>

