<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    {% include 'JmeMainBundle:Default:some.html.twig' %}
    <div>
        <div class="navbar-header">

            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            {{ knp_menu_render('main', {'template': '::menu.html.twig'}) }}
        </nav>
    </div>
</header>

