<div class="controls">
    <a class="article-edit" href="{{path('jme_article_edit', {article: article.id})}}">{{'article.edit'|trans}}</a>
    <a class="article-remove" href="{{path('jme_article_delete', {article: article.id})}}">{{'article.remove'|trans}}</a>
</div>