<div class="controls">
    <a href="{{path('jme_article_edit', {article: article.id})}}">{{'article.edit'|trans}}</a>
    <a href="{{path('jme_article_remove', {article: article.id})}}">{{'article.remove'|trans}}</a>
</div>