<div class="tag_item_selector" data-elementName="loso">

    <div class="items">
        <ul></ul>

    </div>
    <div class="item_input">
        <button class="add-item-btn" name="add-item">{{'article.add_tag'|trans}}</button>
        <input class="item_field" type="text" name="article-tag-selector-input" />
        <button type="submit">{{'article.save_tag'|trans}}</button>
    </div>
</div>