body
{
    background: #ededed url("/images/gray_jean.png");
}

header {
    background: gray;
}

#wrapper {
    float: left;
    margin-left: 75px;
    margin-top: 75px;
    max-width: 1200px;
}


.navbar-header {
    button.navbar-toggle {
        background: black;

        span.icon-bar {
            background: #f8f8f8;
        }
    }
}


&.in {
    ul.navbar-nav {
        li {
            width: 100%;
        }
    }

}


ul.navbar-nav
{
    margin-left: 15px;
    padding-left: 0;

    li
    {
        margin-bottom: 5px;
        padding: 5px 0 5px;

        a
        {
            text-decoration: none;
            color: black;
            padding-bottom: 5px;

            &:hover, &:focus {
                background: none !important;
                color: white;
                border-bottom: solid white 2px;
            }

        }

        &.current {
            a {
                color: white;
                border-bottom: solid white 2px;
            }
        }
    }
}

ul#some {
    border: none;
    float: left;
    margin-left: 20px;
    background: #b0b0b0;
    border-radius: 5px;
    padding: 5px;
    width: 90px;

    li {
        display: inline;
        padding-right: 4px;

        img {
            width: 20px;
            height: 20px;
        }
    }
}


#main {
    width: 85%;
    float: left;
}

@media screen and (max-width: 814px) {

    nav {
        width: 100%;

        ul {
            float: left;

            &#some {
                float: right;
                text-align: right;
                width: 90px;
            }

            li {
                display: inline;
                padding-right: 15px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #wrapper {
        margin-left: 40px;
        width: 90%;
    }

    .projects {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 470px) {

    nav ul li, nav ul li.last{
        display: inline;
        margin-bottom: 7px;
        float: left;
    }

    nav ul#some li {
        display: inline;
        width: auto;
    }
}

@media screen and (max-width: 300px) {

    nav ul li {
        font-size: 0.6em;
    }
}


div.flash-wrapper
{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px
}

div.flash-messages
{
    padding: 10px;

    text-align: center;
}

div.error
{
    background: #ffaf9e;
    border: solid 1px red;
    color: red;
}

div.warning
{
    background: #ffe67a;
    border: solid 1px orange;
    color: orange;
}

div.notice
{
    background: #6ac580;
    border: solid 1px green;
    color: green;
}


/* login */

div#login-box
{
    display:block;

    position:absolute;
    top:50%;
    left:35%;
    width:350px;

    background: white;
    padding: 15px;

    .wrapper
    {
        float: right;
        width: 100%;
        input[type="text"], input[type="password"]
        {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .error
    {
        margin-bottom: 10px;
        padding: 3px;
    }

    button
    {
        float: right;
    }

}


/* end login */

.tag_item_selector {
    float: left;
    width: 96%;
    background: #f1f1f1;
    border-radius: 5px;
    padding: 1%
}

.tag_item_selector div.items,  {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
.tag_item_selector div.items ul{
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tag_item_selector div.items ul li{
  background: none repeat scroll 0 0 #F36B22;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  cursor: default;
  float: left;
  list-style-type: none;
  margin: 5px 5px 0 0;
  padding: 2px 6px;
}
.tag_item_selector div.items ul li a.remove{
  background-image: url("/images/delete-white.gif");
  background-position: 0 0;
  float: right;
}
.tag_item_selector .item_input input {
  float:left;
  width: 50%;

}
.tag_item_selector .item_input .add-item-btn {
  clear: right;
  display: none;
  float: right;
  margin-left: 4px;
  margin-top: 0;
}

div.projects {
    float: left;
    width: 100%;

    div.project {
        float:left;
        width: 100%;

        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: solid black 1px;

        .row {
            margin: 0 0 10px 0;
            float:left;
            clear: both;
            width: 100%;

            .name {
                font-weight: bold;
            }
        }

        .title {
            float: left;
            width: 30%;
        }

        .important {
            background: #d1d1d1;
        }

        .description {
            float: left;
            width: 60%;

            ul {
                margin: 0;
                padding: 0;

                li {
                    margin: 0 0 0 14px;
                }
            }
        }
    }
}

footer {
    float: left;
    height: 50px;
    background: black;
    width: 100%;
    padding-left: 75px;
    color: white;
}