body
{
    background: #ededed;
    margin: 20px;
}

div.flash-messages
{
    padding: 10px;
}

div.error
{
    background: #ffaf9e;
    border: solid 1px red;
    color: red;
}

div.warning
{
    background: #ffe67a;
    border: solid 1px orange;
    color: orange;
}

div.notice
{
    background: #6ac580;
    border: solid 1px green;
    color: green;
}