<div class="buttons">
    <input type="submit" class="btn btn-primary btn-lg" value="{{ 'article.save'|trans }}" />
</div>

{{ form_widget(form) }}

<div class="buttons">
    <input type="submit" class="btn btn-primary btn-lg" value="{{ 'article.save'|trans }}" />
</div>