{% extends 'JmeArticleBundle::layout.html.twig' %}

{% block content %}

    <div class="articles">
    {% for article in articles %}

        {% include 'JmeArticleBundle:Default:article.html.twig' with {article: article, listMode: true} %}

    {% endfor %}
    </div>
{% endblock %}