{% extends 'JmeArticleBundle::layout.html.twig' %}

{% block content %}

    {% for article in articles %}
        <div class="article">

            <a href="{{path('jme_article_view', {article: article.id})}}">{{article.title}}</a>

        </div>
    {% endfor %}
{% endblock %}