{% extends 'JmeArticleBundle::layout.html.twig' %}

{% block content %}
    <div class="content padded-content">
        <h1>{{'article.new'|trans}}</h1>

        <div id="new-article">
            <form action="{{ path('jme_article_create') }}" method="post" {{ form_enctype(form) }} novalidate>
                {% include 'JmeArticleBundle:Default:article-form-content.html.twig' %}
            </form>
        </div>
    </div>
{% endblock %}