{% extends 'JmeArticleBundle::layout.html.twig' %}

{% block content %}

<h1>New article</h1>

<div id="new-article">
    <form action="{{ path('jme_article_create') }}" method="post" {{ form_enctype(form) }} novalidate>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
</div>
{% endblock %}