{% extends 'JmeArticleBundle::layout.html.twig' %}

{% block content %}

    <div class="article">

        <h1>{{article.title}}</h1>
        <span class="date">{{article.created|date('d.m.Y H:i:s')}}</span>

        <div class="brief">{{article.brief}}</div>

        <div class="content">{{article.content}}</div>
    </div>
{% endblock %}