div#new-article
{
    input#article_title
    {
        font-size: 1.5em;
    }

    input[type="text"], textarea
    {
        margin-bottom: 15px;
        display: block;
        width: 98%;
    }

    textarea#article_brief
    {
        height: 150px;
    }

    textarea#article_content
    {
        height: 300px;
    }

    textarea#article_brief, textarea#article_content {
        padding: 10px 0 10px 10px;
    }
}

article
{
    float:left;
    width: 98%;
    padding: 0;

    a {
        color: gray;
        text-decoration: none;

        &:hover
        {
            text-decoration: underline;
        }
    }

    a.title-link
    {
        text-decoration: none;
        color: black;


    }

    h1 {
        font-size: 1.5em;
        line-height: 1.4em;
    }

    h2
    {
        a
        {
            text-decoration: none;
            color: black;
        }
        &:hover
        {
            text-decoration: underline;
        }
    }

    .date
    {
        font-size: 0.8em;
        font-weight: bold;
    }

    span.tag
    {
        color: #ff8e00;
    }

    .brief, .content
    {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .content, .brief
    {
        br {
            margin-bottom: 20px;
        }

        font: 100%/1.4 Georgia,serif;

        line-height: 1.5em;

        pre {
            background: white;
            border: solid black 1px;
            padding: 10px;


        }
    }
}

.item_input
{
    label
    {
        display: block;
    }
    input.item_field
    {
        width: 80% !important;
    }

    .add-item-btn
    {
        clear: inherit !important;
        float: inherit !important;
    }
}

.buttons {

    width: 98%;
    clear: both;
    margin: 15px 0;
    float: left;

    input[type="submit"]
    {
        float: right;
    }
}

article pre br {
    line-height: 1px;
}

.galleria{ width: 700px; height: 400px; background: #000 }
