div#new-article
{
    margin-top: 10px;

    input#article_title
    {
        font-size: 1.5em;
    }

    input[type="text"], textarea
    {
        margin-bottom: 15px;
        display: block;
        width: 90%;
    }

    textarea
    {
        height: 300px;
    }
}